@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  list-style: none;
}

body {
  background-color: white;
}

.main-content {
  background-color: #E5E5E5;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.left-section {
  height: fit-content;
  grid-column: span 1;
  margin-right: 3rem;
  background-color: #FFFFFF;
}

.right-section {
  height: fit-content;
  padding-bottom: 1rem;
  grid-column: span 3;
  width: 100%;
}

.left-content {
  padding: 3rem 2rem;
  align-content: center;
}

.group {
  width: 100%;
  border-bottom: 1.5px solid #F0F0F6;
  padding: 1.5rem 0;
}

#left-section-ProfilePic {
  position: relative;
  z-index: 1;
  padding-bottom: 1rem;
  align-items: center;
  width: 100%;
}

.title {
  color: #2B2B2B;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 1rem;
}

.description {
  color: #767676;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1rem;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0px auto;
}

.logo-icon {
  background-color: #FFB400;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.logo-icon a {
  text-decoration: none;
}
.logo-icon a img {
  margin: 3px;
}

.personal-info {
  color: #2B2B2B;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

#field {
  background-color: #FFB400;
}

#available-green {
  color: #7EB942;
}

#languages {
  text-align: start;
  display: flex;
  justify-content: space-between;
}

#skills {
  text-align: left;
  display: flex;
}

#skills-icon {
  padding-right: 1rem;
}

#RectangleBTN {
  width: 80%;
  padding: 1.5rem 0;
}

#textBTN {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: black;
}

#iconBTN {
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%);
}

.downloadBTN {
  position: relative;
  text-align: center;
}

.introduction {
  background-color: #FFFFFF;
  padding: 7rem 5rem;
  padding-bottom: 2rem;
}

.intro-name {
  font-size: 45px;
  font-weight: 700;
  color: #2B2B2B;
}

#intro-job {
  color: #FFB400;
}

#intro-description {
  text-align: left;
  font-size: 16px;
  padding-bottom: 4rem;
  padding-top: 3rem;
}

.intro-content {
  display: flex;
  position: relative;
}

.hireBTN {
  position: relative;
}

#RectangleBTN-intro {
  width: 40%;
}

#textBTN-hire {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: black;
}

#triangle {
  position: absolute;
  width: 16px;
  top: 93%;
  left: 97%;
}

#rectangle51 {
  position: absolute;
  width: 16.45px;
  top: 31%;
  left: 94%;
}

#rectangle52 {
  position: absolute;
  width: 16.45px;
  top: 70%;
  left: 50%;
}

#circle11 {
  position: absolute;
  width: 16px;
  top: 91%;
  left: 14%;
}

#circle12 {
  position: absolute;
  width: 16.45px;
  top: 7%;
  left: 65%;
}

#circle21 {
  position: absolute;
  width: 16.45px;
  top: 4%;
  left: 4%;
}

#circle22 {
  position: absolute;
  width: 16.45px;
  top: 33%;
  left: 60%;
}

.services-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  padding-top: 5rem;
}

.services-desc {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
  color: #767676;
  width: 438px;
  margin: 0px auto;
}

.services-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
}

.service {
  background-color: #FFFFFF;
  width: 310px;
  height: 225px;
  position: relative;
}

#service-img {
  position: relative;
  left: 121px;
  top: 28px;
}

.service-title {
  color: #2B2B2B;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 122px;
  width: 100%;
}

.service-desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #767676;
  position: absolute;
  margin-top: 16px;
  top: 144px;
  text-align: center;
  width: 100%;
}

#service-title-advertise {
  top: 31px;
}

#service-desc-advertise {
  top: 60px;
  margin-left: 25px;
  margin-right: 25px;
  width: 260px;
}

#advertise {
  text-align: center;
  color: #FFB400;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  left: 112px;
  position: absolute;
}

#advertise-box {
  position: absolute;
  top: 174px;
  width: 100%;
  margin-top: 13px;
}

.my-services div {
  width: 100%;
  text-align: center;
}

.education-items {
  background-color: #FFFFFF;
  padding: 2rem;
  width: 98%;
}

.edu-row {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 1px solid #F0F0F6;
}

.edu-title {
  padding-left: 3rem;
  width: 80%;
}

.item-title {
  color: #2B2B2B;
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 18px;
  font-weight: 500;
}

.item-stu {
  font-size: 15px;
  font-weight: 400;
  margin-right: 4rem;
}

.item-time {
  background-color: #FFB400;
  color: white;
  padding: 5px 10px;
}

.row-info {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

.item-desc {
  color: #767676;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 1rem;
}

#last-edu-row {
  border-bottom: 0px none;
}

/*# sourceMappingURL=style.css.map */
